<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head">
</head>
<body>
		<!-- Navbar -->
    <div th:replace="fragments/navbar"></div>
    
    
	<div class="container">
		<br>
		<h2>Usuarios cadastrados</h2>
		<a th:href="@{/usuarios/form}" class="btn btn-primary">Novo</a>
		<div style="height: 20px"></div>
		<table class="table table-stripped">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Data Nascimento</th>
				<th>Email</th>
				<th>Senha</th>
			</tr>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.id}"></td>
				<td th:text="${usuario.nome}"></td>
				<td th:text="${usuario.telefone}"></td>
				<td th:text="${usuario.datanascimento}"></td>
				<td th:text="${usuario.email}"></td>
				<td th:text="${usuario.senha}">s</td>
			</tr>
		</table>
	</div>
	<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>