<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment = "mensagens">
	    <div class="container">
		    <div th:if="${mensagem}" class="alert alert-success" role="alert" th:text="${mensagem}">
			</div>
			<div th:if="${mensagemerro}" class="alert alert-danger" role="alert" th:text="${mensagemerro}">
			</div>
			<div th:if="${mensagemsecundaria}" class="alert alert-secondary" role="alert" th:text="${mensagemsecundaria}">
			</div>
	  	</div>
  	</div>
</html>