<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/head.html :: head">
</head>
<body>

<!-- Navbar -->
    <div th:replace="fragments/navbar"></div>
    
    <div th:replace="fragments/mensagens"></div>
    
	<div class="container">
		<div th:if="${deletado}" ></div>
		<br>
		<h2>Eventos cadastrados</h2>
		<a sec:authorize="isAuthenticated()"
           th:href="@{/eventos/form}" class="btn btn-primary">Novo</a>
		<div style="height: 20px"></div>
		<table class="table table-stripped">
			<tr>
				<th>Descrição</th>
				<th>Local</th>
				<th>Data</th>
				<th>Vagas</th>
				<th>Organizador</th>
				<th>Status</th>
				<th>Action<th>
			</tr>
			<tr th:each="evento: ${eventos}">
				<td th:text="${evento.descricao}"></td>
				<td th:text="${evento.local}"></td>
				<td th:text="${evento.data}"></td>
				<td th:text="${evento.vagas}"></td>
				<td th:text="${evento.dono.nome}"></td>
				<td th:text="${evento.status}"></td>
				<td>
					<a class="delete btn btn-sm btn-info" th:href="@{/eventos/{id}(id=${evento.id})}">Detalhes</a>
					<div class="btn-group pull-right" th:if="${evento.dono.id == userLog.id}">
						<a class="delete btn btn-sm btn-warning" th:href="@{/eventos/edit/{id}(id=${evento.id})}">Editar</a>
					</div>
					<div class="btn-group pull-right" th:if="${evento.status.name() == 'ABERTO' && evento.dono.email.equals(userLog.email)}">
						<a class="delete btn btn-sm btn-light" th:href="@{/eventos/{id}/candidatos(id=${evento.id})}">Analisar Candidatos</a>
					</div>
					<button
							type="button" class="btn btn-sm btn-primary" data-toggle="modal"
							th:attr="data-target='#avaliarDesempenho'+${evento.id}"
							th:if="${evento.status.name() == 'EXECUTADO' && evento.dono.email.equals(userLog.email)}"
					>
						Avaliar
					</button>
					<div th:replace="fragments/avaliarDesempenho"></div>
				</td>
			</tr>
		</table>
	</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>